.test {
    height: 2000px;
    background: #F6F6F6;
    line-height: 300px
}

body {
    padding-top: 70px /*So That The Content Doesn't Come Under The Navbar*/
}

/* Active Link */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #E41B17
}

/* Navbar Link */

.navbar-inverse .navbar-nav > li > a {
    color: #BBB;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px
}

/* Brand Name */

.navbar-inverse .navbar-brand {
    color: #BBB;
    font-size: 30px;
    line-height: 40px
}

.navbar-inverse .navbar-brand span {
    color: #E41B17
}

/*DropDown Menu*/

.dropdown-menu {
    background-color: #333;
    border-top: 3px solid #E41B17;
    min-width: 180px
}

.navbar-right .dropdown-menu {
    left: 0;
    right: auto
}

.dropdown-menu > li > a {
    color: #fff;
    padding: 6px 20px;
    -webkit-transition: padding 0.5s ease;
    -moz-transition: padding 0.5s ease;
    -o-transition: padding 0.5s ease;
    transition: padding 0.5s ease;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #E41B17;
    color: #fff;
    padding-left: 28px
}

.dropdown-menu .divider {
    background-color: #666
}

/* Navbar Toggle */

.navbar-toggle {
    margin-top: 18px
}