body {
    padding-top: 60px; /*So That The Content Doesn't Come Under The Navbar*/
    height: 2000px        
}

/******* Start Overriding Bootstrap *********/

/* Active Link */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #E41B17
}

/* Navbar Link */

.navbar-inverse .navbar-nav > li > a {
    color: #BBB;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px
}

/* Brand Name */

.navbar-inverse .navbar-brand {
    color: #BBB;
    font-size: 30px;
    line-height: 40px
}

.navbar-inverse .navbar-brand span {
    color: #E41B17
}

/*DropDown Menu*/

.dropdown-menu {
    background-color: #333;
    border-top: 3px solid #E41B17;
    min-width: 180px
}

.navbar-right .dropdown-menu {
    left: 0;
    right: auto
}

.dropdown-menu > li > a {
    color: #fff;
    padding: 6px 20px;
    -webkit-transition: padding 0.5s ease;
    -moz-transition: padding 0.5s ease;
    -o-transition: padding 0.5s ease;
    transition: padding 0.5s ease;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #E41B17;
    color: #fff;
    padding-left: 28px
}

.dropdown-menu .divider {
    background-color: #666
}

/* Navbar Toggle */

.navbar-toggle {
    margin-top: 18px
}

/* Carousel */

.carousel-caption {
    bottom: 120px;
    background: rgba(3,3,3,0.3);
    padding-right: 20px;
    padding-left: 20px
}

.carousel-indicators {
    bottom: 0
}

.carousel-indicators li {
    height: 15px;
    width: 15px
}

.carousel-indicators .active {
    height: 17px;
    width: 17px;
    background-color: #E41B17;
    border-color: #EEE
}

/******* End Overriding Bootstrap *********/

/* Start Section About */

.about {
    padding-top: 60px;
    padding-bottom: 60px;
}

.about .lead {
    color: #888;
    font-size: 25px;
    margin-top: 15px
}

.about h1, h2 {
    font-weight: bold
}

.about h1 span,
.about h2 span {
    color: #E41B17
}

/* End Section About */

/* Start Section Features */

.features {
    background: #EEE;
    padding-top: 50px;
    padding-bottom: 50px
}

.features .feat {
    margin-bottom: 30px
}


.features .feat p {
    line-height: 2em
}

.features h1 {
    margin-bottom: 50px
}

.features .feat span.glyphicon {
    font-size: 22px;
    color: #666
    
}

/* End Section Features */