/**** Start Default Theme ****/

/* Active Link */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.option-box .gear-check,
.carousel-indicators .active,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
#scroll-top
{
    background-color: #009AFF
}

.navbar-inverse .navbar-brand span,
.navbar-inverse .navbar-brand:hover,
.about h1 span,
.about h2 span,
.testimonials span,
.footer h3,
.footer .copyright span
{
    color: #009AFF
}

.option-box .color-option,
.testimonials .carousel-indicators li.active 
{
    border: 3px solid #009AFF
}

.dropdown-menu
{
    border-top: 3px solid #009AFF
}


/* CSS ::selection Selector */
::-moz-selection { /* Code for Firefox */
    color: #009AFF;
    background: black;
}

::selection {
    color: #009AFF;
    background: black;
}

/**** End Default Theme ****/