
/* From 0 To Mobile == Smart Phones and Tablets */
@media (max-width: 767px) {
    
    .navbar-inverse .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px
    }
    
    .subscribe .form-control {
        margin: 20px auto;
        width: 350px
    }
    
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: none
    }
    
    .footer .mob-center {
        text-align: center
    }
    
}


/* From Small To Medium == Small Screens */
@media (min-width: 768px) and (max-width: 991px) {
    
    
}

/* From Medium To Large == Medium Screens */
@media (min-width: 992px) and (max-width: 1199px) {
    
    
}

/* Large Screens */
@media (min-width: 1200px) {
    
    
}